@unocss;

:root {
  --background: 0 0% 100%;
  --foreground: 222 47% 11%;
  --muted: 210 40% 96%;
  --muted-foreground: 215 16% 47%;
  --popover: 0 0% 100%;
  --popover-foreground: 222 47% 11%;
  --card: 0 0% 100%;
  --card-foreground: 222 47% 11%;
  --border: 214 32% 91%;
  --input: 214 32% 91%;
  --primary: 222 47% 11%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96%;
  --secondary-foreground: 222 47% 11%;
  --accent: 210 40% 96%;
  --accent-foreground: 222 47% 11%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 210 40% 98%;
  --ring: 222 47% 11%;
  --radius: 0.5rem;

  --sidebar-background: 0 0% 98%;
  --sidebar-foreground: 240 5.3% 26.1%;
  --sidebar-primary: 240 5.9% 10%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-accent: 240 4.8% 95.9%;
  --sidebar-accent-foreground: 240 5.9% 10%;
  --sidebar-border: 220 13% 91%;
  --sidebar-ring: 217.2 91.2% 59.8%;

  --hl-type: #4ec9b0;
  --hl-kw: #c586c0;
  --hl-builtin: #9cdcfe;
  --hl-fn: #dcdcaa;
  --hl-num: #b5cea8;
  --hl-comment: #6a9955;
  --hl-pp: #cc99cd;

  --mac-close: #f95c5b;
  --mac-min: #fabe3b;
  --mac-max: #38cd46;
}

.dark {
  --background: 222 47% 4%;
  --foreground: 210 40% 98%;
  --muted: 217 33% 12%;
  --muted-foreground: 215 20% 65%;
  --popover: 222 47% 4%;
  --popover-foreground: 210 40% 98%;
  --card: 222 47% 4%;
  --card-foreground: 210 40% 98%;
  --border: 217 33% 17%;
  --input: 217 33% 17%;
  --primary: 210 40% 98%;
  --primary-foreground: 222 47% 11%;
  --secondary: 217 33% 12%;
  --secondary-foreground: 210 40% 98%;
  --accent: 217 33% 12%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62% 30%;
  --destructive-foreground: 210 40% 98%;
  --ring: 212 27% 84%;

  --sidebar-background: 240 5.9% 10%;
  --sidebar-foreground: 240 4.8% 95.9%;
  --sidebar-primary: 224.3 76.3% 48%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 240 3.7% 15.9%;
  --sidebar-accent-foreground: 240 4.8% 95.9%;
  --sidebar-border: 240 3.7% 15.9%;
  --sidebar-ring: 217.2 91.2% 59.8%;

  --hl-type: #4ec9b0;
  --hl-kw: #c586c0;
  --hl-builtin: #9cdcfe;
  --hl-fn: #dcdcaa;
  --hl-num: #b5cea8;
  --hl-comment: #6a9955;
  --hl-pp: #cc99cd;

  --mac-close: #f95c5b;
  --mac-min: #fabe3b;
  --mac-max: #38cd46;
}
